body {
  background: #ff6600;
  width: 1000ms;
  background: url('arr.jpg');
}
.div1 {
  x: 11;
  padding: 0.1;
}
.div3 {
  width: 100px;
  padding: 10px;
}
div {
  width: 100;
}
div {
  d: %23,%20%5E,%20%28,%20%29,%20%7B,%20%7D,%20%7C,%20%3A,%20%3E,%20%3C,%20%3B,%20%5D,%20%5B%20,%20%3D;
  filter: ms:alwaysHasItsOwnSyntax.For.Stuff();
  width: calc('960px-100px');
  height: calc(960px-100px);
  font-family: ""Microsoft" "YaHei"";
  font-family: "%22Microsoft%22 "YaHei"";
  font-family: "F60 YaHei";
  font-family: "Microsoft YaHei";
  content: "Hello, LESS";
  content: "Hello, B";
  n: 3;
  n: "D";
}
div {
  width: 2px;
  width: 50%;
  top: 999px;
  width: 0.84147098;
  width: 0.01745241;
  width: 0.01570732;
  width: -0.99999999rad;
  width: 0rad;
  width: NaNrad;
  width: 0.54030231;
  width: 0.9998477;
  width: 0.99987663;
  width: 1.55740772;
  width: 0.01745506;
  width: 0.01570926;
  width: 3.14159265;
  width: 4px;
  width: 5px;
  width: 1px;
  width: 3px;
}
div {
  x: 240em;
  x: 280em;
  x: 290em;
}
body {
  c: #80e619;
  c: #80ff00;
}
div {
  width: 90px;
  height: 50px;
  font-size: 16px;
  text-align: center;
}
.ys1 {
  background: #80e619;
}
.ys2 {
  background: #80ff00;
}
.ys3 {
  background: #80cc33;
}
.ys4 {
  background: #b3f075;
}
.ys5 {
  background: #4d8a0f;
}
.ys66 {
  background: rgba(128, 230, 25, 0.5);
}
.ys6 {
  background: #80e619;
}
.ys7 {
  background: rgba(128, 230, 25, 0.1);
}
.ys8 {
  background: #80e619;
}
.ys9 {
  background: rgba(128, 230, 25, 0.4);
}
.ys10 {
  background: #f2330d;
}
.ys11 {
  background: #f20d0d;
}
.ys12 {
  background: rgba(100, 50, 20, 0.5);
}
.ys13 {
  background: rgba(0, 150, 120, 0.2);
}
.ys14 {
  background: rgba(65, 85, 55, 0.35);
}
.ys15 {
  background: #80ff00;
}
.ys16 {
  background: #ffffff;
}
body {
  c: #80e619;
  c: #80ff00;
}
div {
  width: 90px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 16px;
  text-align: center;
}
.ys1 {
  background: #ff6600 ;
}
.ys2 {
  background: #000000;
}
.ys3 {
  background: #ff6600;
}
.ys4 {
  background: #ff6600 ;
}
.ys5 {
  background: #333;
}
.ys6 {
  background: #cc9933;
}
.ys7 {
  background: #ff6600 ;
}
.ys8 {
  background: #ffffff;
}
.ys9 {
  background: #0099ff;
}
