body {
  background: #ff6600;
  width: 1000ms;
  background: url('arr.jpg');
}
.div1 {
  x: 11;
  padding: 0.1;
}
.div3 {
  width: 100px;
  padding: 10px;
}
div {
  width: 100;
}
div {
  d: %23,%20%5E,%20%28,%20%29,%20%7B,%20%7D,%20%7C,%20%3A,%20%3E,%20%3C,%20%3B,%20%5D,%20%5B%20,%20%3D;
  filter: ms:alwaysHasItsOwnSyntax.For.Stuff();
  width: calc('960px-100px');
  height: calc(960px-100px);
  font-family: ""Microsoft" "YaHei"";
  font-family: "%22Microsoft%22 "YaHei"";
  font-family: "F60 YaHei";
  font-family: "Microsoft YaHei";
  content: "Hello, LESS";
  content: "Hello, B";
  n: 3;
  n: "D";
}
div {
  width: 2px;
  width: 50%;
  top: 999px;
  width: 0.84147098;
  width: 0.01745241;
  width: 0.01570732;
  width: -0.99999999rad;
  width: 0rad;
  width: NaNrad;
  width: 0.54030231;
  width: 0.9998477;
  width: 0.99987663;
  width: 1.55740772;
  width: 0.01745506;
  width: 0.01570926;
  width: 3.14159265;
  width: 4px;
  width: 5px;
  width: 1px;
  width: 3px;
}
div {
  x: 123;
  x: "ABC";
  x: #ff0000;
  x: ABC;
  x: url(arr.jpg);
  x: 220px;
  x: 220cm;
  x: 240em;
  x: 260%;
}
div {
  background: #ff0000;
  background: rgba(255, 0, 0, 0.5);
  background: #80ff0000;
  background: #80ff00;
  background: rgba(128, 255, 0, 0.5);
  background: #408000;
  background: rgba(64, 128, 0, 0.08);
}
div {
  z-index: 80%;
  z-index: 90;
  z-index: 100%;
  z-index: 50%;
  z-index: 29;
  z-index: 199;
  z-index: 150;
  z-index: 0.8;
  z-index: 44%;
  z-index: 65%;
}
.ys1 {
  background: #80ff00;
  background: #80cc33;
  background: #b3f075;
  background: #4d8a0f;
  background: #80e619;
  background: rgba(128, 230, 25, 0.1);
  background: rgba(128, 230, 25, 0.4);
  background: #f20d0d;
  background: rgba(65, 85, 55, 0.35);
  background: #ffffff;
}
.ys2 {
  background: #ff8533;
  background: #ff0000;
  background: #ff2900;
  background: #000000;
  background: #0099ff;
  background: #994d1a;
  background: #ff6600;
}
